<section id="about-me-id" class="about-me">
  <div class="container about-me-container">
    <div class="about-me-main">
      <h2 class="about-me-title">My profile</h2>

      <p class="about-me-description">
        I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND
        <span class="about-me-span-red">FUNCTIONAL</span>
        <span class="about-me-span-grey">WEBSITES</span> THAT REFLECT EACH
        CLIENT'S UNIQUE PERSONALITY.
      </p>
      <picture class="about-me-photo-box">
        <source
          srcset="
            /img/about-me/about-me-desktop.jpg    1x,
            /img/about-me/about-me-desktop@2x.jpg 2x
          "
          media="(min-width: 1440px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/about-me/about-me-desktop.webp    1x,
            /img/about-me/about-me-desktop@2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            /img/about-me/about-me-tablet.jpg    1x,
            /img/about-me/about-me-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/about-me/about-me-tablet.webp    1x,
            /img/about-me/about-me-tablet@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            /img/about-me/about-me-mobile.jpg    1x,
            /img/about-me/about-me-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/about-me/about-me-mobile.webp    1x,
            /img/about-me/about-me-mobile@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <img
          src="/img/about-me/about-me-desktop.jpg"
          alt="My photo"
          class="about-me-photo"
          loading="lazy"
        />
      </picture>
    </div>

    <ul class="details-list">
      <li class="details-item active">
        <div class="details-container">
          <h3 class="details-subtitle">ABOUT ME</h3>
          <button class="details-btn" type="button">
            <svg class="icon-arrow">
              <use xlink:href="/img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <div class="details-content">
          <p class="details-description">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>

          <p class="details-description">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. <br />I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>

      <li class="details-item">
        <div class="details-container">
          <h3 class="details-subtitle">ROLE</h3>
          <button class="details-btn" type="button">
            <svg class="icon-arrow">
              <use xlink:href="/img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <div class="details-content">
          <ul class="details-role-list">
            <li class="details-description">Frontend development</li>
            <li class="details-description">HeadlessCMS,Wordpress</li>
            <li class="details-description">Blender(enjoy)</li>
          </ul>
        </div>
      </li>

      <li class="details-item">
        <div class="details-container">
          <h3 class="details-subtitle">EDUCATION</h3>
          <button class="details-btn" type="button">
            <svg class="icon-arrow">
              <use xlink:href="/img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <div class="details-content">
          <ul class="details-education-list">
            <li class="details-description">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="details-description">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="details-description">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="skills">
      <div class="skills-container swiper">
        <ul class="skills-list swiper-wrapper">
          <li class="swiper-slide skills-item">HTML/CSS</li>
          <li class="swiper-slide skills-item">JavaScript</li>
          <li class="swiper-slide skills-item">React</li>
          <li class="swiper-slide skills-item">Node.js</li>
          <li class="swiper-slide skills-item">React Native</li>
          <li class="swiper-slide skills-item">Soft skills</li>
          <li class="swiper-slide skills-item">Figma</li>
        </ul>
      </div>
      <svg class="skills-button-next">
        <use xlink:href="/img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
