<section id="benefits-id" class="section-benefits">
  <div class="container-benefits container">
    <h2 class="h2-benefits">Benefits of working with me</h2>
    <div class="benefits-content">
      <ul class="benefits-ul">
        <li class="benefits-li">
          <div class="icon-container-benefits">
            <svg class="icon-benefits" width="24" height="24">
              <use xlink:href="/img/sprite.svg#icon-hourglass"></use>
            </svg>
          </div>
          <div class="benefits-li-description">
            <h3 class="h3-benefits">Expertise</h3>
            <p class="p-benefits">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </div>
        </li>
        <li class="benefits-li">
          <div class="icon-container-benefits">
            <svg class="icon-benefits" width="24" height="24">
              <use xlink:href="/img/sprite.svg#icon-message-chat"></use>
            </svg>
          </div>
          <div class="benefits-li-description">
            <h3 class="h3-benefits">Communication</h3>
            <p class="p-benefits">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </div>
        </li>
        <li class="benefits-li">
          <div class="icon-container-benefits">
            <svg class="icon-benefits" width="24" height="24">
              <use xlink:href="/img/sprite.svg#icon-brush"></use>
            </svg>
          </div>
          <div class="benefits-li-description">
            <h3 class="h3-benefits">Art</h3>
            <p class="p-benefits">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </div>
        </li>
        <li class="benefits-li">
          <div class="icon-container-benefits">
            <svg class="icon-benefits" width="24" height="24">
              <use xlink:href="/img/sprite.svg#icon-user"></use>
            </svg>
          </div>
          <div class="benefits-li-description">
            <h3 class="h3-benefits">Urgent execution</h3>
            <p class="p-benefits">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </p>
          </div>
        </li>
      </ul>
      <div class="project-btn">
        <a href="#work-together-id" class="my-button-benefits"
          >Order the project</a
        >
      </div>
    </div>
  </div>
</section>
