 <section class="cover-section">
  <div class="cover-container container">
          <h2 aria-hidden="true" class="cover-hidden">Covers</h2>
        <div class="covers-wrapp"></div>
        <ul class="cover-list cover-list-none">
            <li>
              <picture class="cover-picture">
                <source
                  srcset="/img/covers/Rectangle-1-1x.jpg 1x, /img/covers/Rectangle-1-2x.jpg 2x"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="/img/covers//Rectangle-1-1x.jpg 1x, /img/covers/Rectangle-1-2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/img/covers/Rectangle-1-1x.jpg 1x, /img/covers/Rectangle-1-2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/covers/Rectangle-1-1x.jpg"
                  alt="Banking"
                  width="282"
                  
                  class="cover-img"
                />
              </picture>
            </li>
            
          </ul>    
           <ul class="cover-list">
            
            <li>
              <picture class="cover-picture">
                <source
                  srcset="/img/covers/Rectangle-4-1x.jpg 1x, 
                  /img/covers/Rectangle-4-2x.jpg 2x"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="/img/covers/Rectangle-4-1x.jpg 1x,
                   /img/covers/Rectangle-4-2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/img/covers/Rectangle-4-1x.jpg 1x, 
                  /img/covers/Rectangle-4-2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/covers/Rectangle-4-1x.jpg"
                  alt="Banking"
                  width="282"                
                  class="cover-img"
                />
              </picture>
            </li>
            <li>
              <picture class="cover-picture">
                <source
                  srcset="/img/covers/Rectangle-5-1x.jpg 1x, /img/covers/Rectangle-5-2x.jpg 2x"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="/img/covers/Rectangle-5-1x.jpg 1x, /img/covers/Rectangle-5-2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/img/covers/Rectangle-5-1x.jpg 1x, /img/covers/Rectangle-5-2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/covers/Rectangle-5-1x.jpg"
                  alt="Banking"
                  width="282"
                  
                  class="cover-img"
                />
              </picture>
            </li>
            
          </ul>
          <ul class="cover-list">
            <li>
              <picture class="cover-picture">
                <source
                  srcset="/img/covers/Rectangle-6-1x.jpg 1x, /img/covers/Rectangle-6-2x.jpg 2x"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="/img/covers/Rectangle-6-1x.jpg 1x, 
                  /img/covers/Rectangle-6-2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/img/covers/Rectangle-6-1x.jpg 1x, /img/covers/Rectangle-6-2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/covers/Rectangle-6-1x.jpg"
                  alt="Banking"
                  width="282"
                 
                  class="cover-img"
                />
              </picture>
            </li>
            <li>
              <picture class="cover-picture">
                <source
                  srcset="/img/covers/Rectangle-7-1x.jpg 1x, /img/covers/Rectangle-7-2x.jpg 2x"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="/img/covers/Rectangle-7-1x.jpg 1x, /img/covers/Rectangle-7-2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/img/covers/Rectangle-7-1x.jpg 1x, /img/covers/Rectangle-7-2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/covers/Rectangle-7-1x.jpg"
                  alt="Banking"
                  width="282"                
                  class="cover-img"
                />
              </picture>
            </li>
            <li>
              <picture class="cover-picture">
                <source
                  srcset="/img/covers/Rectangle-8-1x.jpg 1x, /img/covers/Rectangle-8-2x.jpg 2x"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="/img/covers/Rectangle-8-1x.jpg 1x,
                  /img/covers/Rectangle-8-2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/img/covers/Rectangle-8-1x.jpg 1x, /img/covers/Rectangle-8-2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/covers/Rectangle-8-1x.jpg"
                  alt="Banking"
                  width="282"
                  
                  class="cover-img"
                />
              </picture>
          </ul>
           <ul class="cover-list">
            <li>
              <picture class="cover-picture">
                <source
                  srcset="/img/covers/Rectangle-9-1x.jpg 1x, 
                  /img/covers/Rectangle-9-2x.jpg 2x"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="/img/covers/Rectangle-9-1x.jpg 1x, 
                  /img/covers/Rectangle-9-2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/img/covers/Rectangle-9-1x.jpg 1x, 
                  /img/covers/Rectangle-9-2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/covers/Rectangle-9-1x.jpg"
                  alt="Banking"
                  width="282"
                  
                  class="cover-img"
                />
              </picture>
            </li>
            <li>
              <picture class="cover-picture">
                <source
                  srcset="/img/covers/Rectangle-10-1x.jpg 1x,
                   /img/covers/Rectangle-10-2x.jpg 2x"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="/img/covers/Rectangle-10-1x.jpg 1x,
                   /img/covers/Rectangle-10-2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/img/covers/Rectangle-10-1x.jpg 1x,
                   /img/covers/Rectangle-10-2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/covers/Rectangle-10-2x.jpg"
                  alt="Banking"
                  width="282"
                 
                  class="cover-img"
                />
              </picture>
            </li>
            <li>
              <picture class="cover-picture">
                <source
                  srcset="/img/covers/Rectangle-11-1x.jpg 1x,
                   /img/covers/Rectangle-11-2x.jpg 2x"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="/img/covers/Rectangle-11-1x.jpg 1x,
                   /img/covers//Rectangle-11-2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/img/covers/Rectangle-11-1x.jpg 1x, 
                  ./img/covers/Rectangle-11-2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/covers/Rectangle-11-1x.jpg"
                  alt="Banking"
                  width="282"
                  class="cover-img"
                />
              </picture>
            </li>
          </ul>
           <ul class="cover-list">
            <li>
              <picture class="cover-picture">
                <source
                  srcset="/img/covers/Rectangle-12-1x.jpg 1x, 
                  /img/covers/Rectangle-12-2x.jpg 2x"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="/img/covers/Rectangle-12-1x.jpg 1x, 
                  /img/covers/Rectangle-12-2x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="/img/covers/Rectangle-12-1x.jpg 1x, 
                  /img/covers/Rectangle-12-2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/covers/Rectangle-12-1x.jpg"
                  alt="Banking"
                  width="282"
                  
                  class="cover-img"
                />
              </picture>
            </li>
          </ul>
        </div>
    </div>
    </section>