 <section class="cover-section">
  <div class="cover-container container">
          <h2 aria-hidden="true" class="cover-hidden">Covers</h2>
        <div class="covers-wrapp"></div>  
           <ul class="cover-list">
            
            <li>
              <picture class="cover-picture">
                <source
                  srcset="./img/Rectangle-4-1x.jpg, ./img/Rectangle-4-2x.jpg"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="./img/Rectangle-4-1x.jpg, ./img/Rectangle-4-2x.jpg"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/Rectangle-4-1x.jpg, ./img/Rectangle-4-2x.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/Rectangle-4-1x.jpg"
                  alt="Banking"
                  width="282"
                 
                  class="cover-img"
                />
              </picture>
            </li>
            <li>
              <picture class="cover-picture">
                <source
                  srcset="./img/Rectangle-5-1x.jpg, ./img/Rectangle-5-2x.jpg"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="./img/Rectangle-5-1x.jpg, ./img/Rectangle-5-2x.jpg"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/Rectangle-5-1x.jpg, ./img/Rectangle-5-2x.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/Rectangle-5-1x.jpg"
                  alt="Banking"
                  width="282"
                  
                  class="cover-img"
                />
              </picture>
            </li>
            
          </ul>
           <ul class="cover-list">
            <li>
              <picture class="cover-picture">
                <source
                  srcset="./img/Rectangle-6-1x.jpg, ./img/Rectangle-6-2x.jpg"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="./img/Rectangle-6-1x.jpg, ./img/Rectangle-6-2x.jpg"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/Rectangle-6-1x.jpg, ./img/Rectangle-6-2x.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/Rectangle-6-1x.jpg"
                  alt="Banking"
                  width="282"
                 
                  class="cover-img"
                />
              </picture>
            </li>
            <li>
              <picture class="cover-picture">
                <source
                  srcset="./img/Rectangle-7-1x.jpg, ./img/Rectangle-6-2x.jpg"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="./img/Rectangle-7-1x.jpg, ./img/Rectangle-7-2x.jpg"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/Rectangle-7-1x.jpg, ./img/Rectangle-7-2x.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/Rectangle-7-1x.jpg"
                  alt="Banking"
                  width="282"
                 
                  class="cover-img"
                />
              </picture>
            </li>
            <li>
              <picture class="cover-picture">
                <source
                  srcset="./img/Rectangle-8-1x.jpg, ./img/Rectangle-8-2x.jpg"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="./img/Rectangle-8-1x.jpg, ./img/Rectangle-8-2x.jpg"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/Rectangle-8-1x.jpg, ./img/Rectangle-8-2x.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/Rectangle-8-1x.jpg"
                  alt="Banking"
                  width="282"
                  
                  class="cover-img"
                />
              </picture>
          </ul>
           <ul class="cover-list">
            <li>
              <picture class="cover-picture">
                <source
                  srcset="./img/Rectangle-9-1x.jpg, 
                  ./img/Rectangle-9-2x.jpg"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="./img/Rectangle-9-1x.jpg, 
                  ./img/Rectangle-9-2x.jpg"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/Rectangle-9-1x.jpg, 
                  ./img/Rectangle-9-2x.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/Rectangle-9-1x.jpg"
                  alt="Banking"
                  width="282"
                  
                  class="cover-img"
                />
              </picture>
            </li>
            <li>
              <picture class="cover-picture">
                <source
                  srcset="./img/Rectangle-10-1x.jpg, ./img/Rectangle-10-2x.jpg"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="./img/Rectangle-10-1x.jpg, ./img/Rectangle-10-2x.jpg"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/Rectangle-10-1x.jpg, ./img/Rectangle-10-2x.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/Rectangle-10-2x.jpg"
                  alt="Banking"
                  width="282"
                 
                  class="cover-img"
                />
              </picture>
            </li>
            <li>
              <picture class="cover-picture">
                <source
                  srcset="./img/Rectangle-11-1x.jpg, ./img/Rectangle-11-2x.jpg"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="./img/Rectangle-11-1x.jpg, ./img/Rectangle-11-2x.jpg"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/Rectangle-11-1x.jpg, 
                  ./img/Rectangle-11-2x.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/Rectangle-11-1x.jpg"
                  alt="Banking"
                  width="282"
                  class="cover-img"
                />
              </picture>
            </li>
          </ul>
           <ul class="cover-list">
            <li>
              <picture class="cover-picture">
                <source
                  srcset="./img/Rectangle-12-1x.jpg, 
                  ./img/Rectangle-12-2x.jpg"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="./img/Rectangle-12-1x.jpg, 
                  ./img/Rectangle-12-2x.jpg"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/Rectangle-12-1x.jpg, 
                  ./img/Rectangle-12-2x.jpg"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/Rectangle-12-1x.jpg"
                  alt="Banking"
                  width="282"
                  
                  class="cover-img"
                />
              </picture>
            </li>
          </ul>
        </div>
    </div>
    </section>