<section id="covers-id" class="cover-section">
  <div class="cover-general-wrap container">
    <div class="cover-container">
      <ul class="cover-list">
        <li class="cover-item">
          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-06.jpg    1x,
                /img/covers/cover-06@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-06.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-09.jpg    1x,
                /img/covers/cover-09@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-09.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-04.jpg    1x,
                /img/covers/cover-04@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-04.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-05.jpg    1x,
                /img/covers/cover-05@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-05.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-07.jpg    1x,
                /img/covers/cover-07@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-07.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-08.jpg    1x,
                /img/covers/cover-08@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-08.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>
        </li>
        <li class="cover-item">
          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-01.jpg    1x,
                /img/covers/cover-01@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-01.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-02.jpg    1x,
                /img/covers/cover-02@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-02.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-03.jpg    1x,
                /img/covers/cover-03@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-03.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-04.jpg    1x,
                /img/covers/cover-04@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-04.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-05.jpg    1x,
                /img/covers/cover-05@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-05.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-06.jpg    1x,
                /img/covers/cover-06@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-06.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>
        </li>
        <li class="cover-item">
          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-04.jpg    1x,
                /img/covers/cover-04@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-04.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-05.jpg    1x,
                /img/covers/cover-05@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-05.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-06.jpg    1x,
                /img/covers/cover-06@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-06.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-07.jpg    1x,
                /img/covers/cover-07@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-07.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-08.jpg    1x,
                /img/covers/cover-08@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-08.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-09.jpg    1x,
                /img/covers/cover-09@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-09.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>
        </li>
        <li class="cover-item">
          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-07.jpg    1x,
                /img/covers/cover-07@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-07.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-08.jpg    1x,
                /img/covers/cover-08@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-08.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-09.jpg    1x,
                /img/covers/cover-09@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-09.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-10.jpg    1x,
                /img/covers/cover-10@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-10.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-01.jpg    1x,
                /img/covers/cover-01@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-01.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-02.jpg    1x,
                /img/covers/cover-02@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-02.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>
        </li>
        <li class="cover-item">
          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-10.jpg    1x,
                /img/covers/cover-10@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-10.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-01.jpg    1x,
                /img/covers/cover-01@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-01.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-02.jpg    1x,
                /img/covers/cover-02@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-02.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-03.jpg    1x,
                /img/covers/cover-03@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-03.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-04.jpg    1x,
                /img/covers/cover-04@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-04.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>

          <picture class="cover-picture">
            <source
              srcset="
                /img/covers/cover-05.jpg    1x,
                /img/covers/cover-05@2x.jpg 2x
              "
            />
            <img
              src="/img/covers/cover-05.jpg"
              alt="Banking"
              class="cover-img"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
