<section class="faq-section">
    <div class="faq-container">
        <h2>FAQ</h2>
        <div class="ul-section">
            <ul class="fac-list">

                <li class="faq-item">
                    <div class="faq-content-question">
                        <h3 class="content-question">What programming languages are most often used in your project?
                        </h3>
                        <button class="faq-btn" type="button">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="/img/symbol-defs.svg#icon-Icon"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="content-text">
                        <p class="content-respond">In the field of web development, there are various technologies and
                            programming languages. Typically, this includes a
                            combination of frontend (client side) and backend (server side) languages.</p>
                    </div>
                </li>

                <li class="faq-item">
                    <div class="faq-content-question">
                        <h3 class="content-question">What are the deadlines for the project?</h3>
                        <button class="faq-btn" type="button">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="/img/symbol-defs.svg#icon-Icon"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="content-text">
                        <p class="content-respond">The terms of project implementation depend to a large extent on a
                            number of factors, such as the scope of the project,
                            its complexity, and the availability of resources. Determining exact deadlines is a
                            difficult task, and it usually
                            occurs during the planning phase of the project.</p>
                    </div>
                </li>

                <li class="faq-item">
                    <div class="faq-content-question">
                        <h3 class="content-question">What payment methods do you accept?</h3>
                        <button class="faq-btn" type="button">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="/img/symbol-defs.svg#icon-Icon"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="content-text">
                        <p class="content-respond">Payment through credit and debit cards such as Visa, MasterCard,
                            specialized electronic payment systems such as PayPal,
                            as well as paymentsin cryptocurrencies such as Bitcoin, Ethereum and others</p>
                    </div>
                </li>

                <li class="faq-item">
                    <div class="faq-content-question">
                        <h3 class="content-question">How can I contact you?</h3>
                        <button class="faq-btn" type="button">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="/img/symbol-defs.svg#icon-Icon"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="content-text">
                        <p class="content-respond">In the field of web development, there are various technologies and
                            programming languages. Typically, this includes a
                            combination of frontend (client side) and backend (server side) languages.</p>
                    </div>
                </li>

                <li class="faq-item">
                    <div class="faq-content-question">
                        <h3 class="content-question">Do you provide advice or support?</h3>
                        <button class="faq-btn" type="button">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="/img/symbol-defs.svg#icon-Icon"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="content-text">
                        <p class="content-respond">The terms of project implementation depend to a large extent on a
                            number of factors, such as the scope of the project,
                            its complexity, and the availability of resources. Determining exact deadlines is a
                            difficult task, and it usually
                            occurs during the planning phase of the project.</p>
                    </div>
                </li>

                <li class="faq-item">
                    <div class="faq-content-question">
                        <h3 class="content-question">What does the process of developing a software product like from
                            idea to implementation?</h3>
                        <button class="faq-btn" type="button">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="/img/symbol-defs.svg#icon-Icon"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="content-text">
                        <p class="content-respond">Payment through credit and debit cards such as Visa, MasterCard,
                            specialized electronic payment systems such as PayPal,
                            as well as paymentsin cryptocurrencies such as Bitcoin, Ethereum and others</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>


    
    <!-- <script>
      new Accordion('.accordion-container');
    </script> -->
<!-- 
<script src="https://path-to/accordion.min.js"></script>
<script type="module" src="/path-to/main.js"></script> -->




    <script type="module" src="/main.js"></script>
</section>