<header id="header-id" class="main-header">
  <div class="container header-content">
    <a href="../index.html" class="homepage-link">
      <picture>
        <source
          srcset="
            ./img/header/photo-header-2x.png 2x,
            ./img/header/photo-header-1x.png 1x
          "
        />
        <img
          src="./img/header/photo-header-1x.png"
          alt="Lloyd Jefferson"
          class="logo-image"
        />
      </picture>
      <span class="brand-text"> jefferson* </span>
    </a>

    <button type="button" class="mobile-menu-button" aria-label="open-menu">
      <svg class="mobile-menu-icon" width="28" height="28">
        <use href="./img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
    <div class="dropdown-menu">
      <button type="button" class="menu-button">Menu</button>
      <nav class="dropdown-nav">
        <ul class="dropdown-list">
          <li class="dropdown-item">
            <a href="#about-me-id" class="dropdown-link">About me</a>
          </li>
          <li class="dropdown-item">
            <a href="#benefits-id" class="dropdown-link"> Benefits </a>
          </li>
          <li class="dropdown-item">
            <a href="#projects-id" class="dropdown-link"> Projects </a>
          </li>
          <li class="dropdown-item">
            <a href="#faq-id" class="dropdown-link"> FAQ </a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="#work-together-id" class="project-order-button"
      >Order the project</a
    >
  </div>
</header>

<div class="mobile-menu">
  <button
    type="button"
    class="mobile-menu-close-button"
    aria-label="close-menu"
  >
    <svg class="mobile-menu-close-icon" width="28" height="28">
      <use href="./img/sprite.svg#icon-closed-menu"></use>
    </svg>
  </button>

  <nav class="mobile-nav">
    <ul class="mobile-list">
      <li class="mobile-item">
        <a href="#about-me-id" class="mobile-link">About me</a>
      </li>
      <li class="mobile-item">
        <a href="#benefits-id" class="mobile-link"> Benefits </a>
      </li>
      <li class="mobile-item">
        <a href="#projects-id" class="mobile-link"> Projects </a>
      </li>
      <li class="mobile-item">
        <a href="#faq-id" class="mobile-link"> FAQ </a>
      </li>
    </ul>
  </nav>
  <a href="#work-together-id" class="mobile-order-button">Order the project</a>
</div>
