<section id="projects-id" class="projects">
  <div class="projects-container container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-parts swiper-container" tabindex="0">
      <ul class="projects-slide swiper-wrapper">
        <li class="projects-content-react swiper-slide">
          <div class="projects-content-react-wrap">
            <ul class="projects-content-react-list">
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/react"
                  target="_blank"
                  >#react</a
                >
              </li>
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/js"
                  target="_blank"
                  >#js</a
                >
              </li>
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/node.js"
                  target="_blank"
                  >#node js</a
                >
              </li>
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/git"
                  target="_blank"
                  >#git</a
                >
              </li>
            </ul>
            <div>
              <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <button
                class="projects-button"
                type="button"
                onclick="window.open('https://github.com/Serhii-Briushyn/js-team-project-09', '_blank')"
              >
                See project
              </button>
            </div>
          </div>
          <div class="projects-picture-space">
            <picture>
              <source
                srcset="
                  /img/projects/project@1.1x.jpg 1x,
                  /img/projects/project@1.2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/projects/project@2.1x.mob.jpg 1x,
                  /img/projects/project@2.2x.mob.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/projects/project@2.1x.mob.jpg"
                alt="1 slide"
                class="project-photo"
                loading="lazy"
              />
            </picture>
          </div>
        </li>

        <li class="projects-content-react swiper-slide">
          <div class="projects-content-react-wrap">
            <ul class="projects-content-react-list">
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/react"
                  target="_blank"
                  >#react</a
                >
              </li>
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/js"
                  target="_blank"
                  >#js</a
                >
              </li>
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/node.js"
                  target="_blank"
                  >#node js</a
                >
              </li>
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/git"
                  target="_blank"
                  >#git</a
                >
              </li>
            </ul>

            <div>
              <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <button
                class="projects-button"
                type="button"
                onclick="window.open('https://github.com/Serhii-Briushyn/js-team-project-09', '_blank')"
              >
                See project
              </button>
            </div>
          </div>
          <div class="projects-picture-space">
            <picture>
              <source
                srcset="
                  /img/projects/project@21.1x.jpg 1x,
                  /img/projects/project@21.2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/projects/project@22.1x.mob.jpg 1x,
                  /img/projects/project@22.2x.mob.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="../img/projects/project@22.1x.mob.jpg"
                alt="2 slide"
                class="project-photo"
                loading="lazy"
              />
            </picture>
          </div>
        </li>

        <li class="projects-content-react swiper-slide">
          <div class="projects-content-react-wrap">
            <ul class="projects-content-react-list">
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/react"
                  target="_blank"
                  >#react</a
                >
              </li>
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/js"
                  target="_blank"
                  >#js</a
                >
              </li>
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/node.js"
                  target="_blank"
                  >#node js</a
                >
              </li>
              <li class="projects-content-react-item">
                <a
                  class="proj-content-text"
                  href="https://github.com/git"
                  target="_blank"
                  >#git</a
                >
              </li>
            </ul>

            <div>
              <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <button
                class="projects-button"
                type="button"
                onclick="window.open('https://github.com/Serhii-Briushyn/js-team-project-09', '_blank')"
              >
                See project
              </button>
            </div>
          </div>
          <div class="projects-picture-space">
            <picture>
              <source
                srcset="
                  /img/projects/project@31.1x.jpg 1x,
                  /img/projects/project@31.2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/projects/project@32.1x.mob.jpg 1x,
                  /img/projects/project@32.2x.mob.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/projects/project@32.1x.mob.jpg"
                alt="3 slide"
                class="project-photo"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-button-arrow">
        <svg class="projects-arrow projects-arrow-prev">
          <use
            class="projects-arrow-svg"
            xlink:href="/img/sprite.svg#icon-arrow-left"
          ></use>
        </svg>

        <svg class="projects-arrow projects-arrow-next">
          <use
            class="projects-arrow-svg"
            xlink:href="/img/sprite.svg#icon-arrow-right"
          ></use>
        </svg>
      </div>
    </div>
  </div>
</section>
