<section id="reviews" class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="review-swiper-container unique-review-swiper-container">
      <div class="review-swiper unique-review-swiper">
        <ul class="review-wrapper unique-review-wrapper"></ul>
      </div>
      <div class="review-button-arrow">
        <svg class="review-arrow review-arrow-prev unique-review-arrow-prev">
          <use
            class="review-arrow-svg"
            xlink:href="/img/sprite.svg#icon-arrow-left"
          ></use>
        </svg>

        <svg class="review-arrow review-arrow-next unique-review-arrow-next">
          <use
            class="review-arrow-svg"
            xlink:href="/img/sprite.svg#icon-arrow-right"
          ></use>
        </svg>
      </div>
    </div>
  </div>
</section>
