<section id="reviews" class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="review-swiper-container">
      <div class="review-swiper">
        <ul class="swiper-wrapper review-swiper-wrapper"></ul>
      </div>
      <div class="review-buttons">
        <button class="custom-prev review-swiper-button-prev">
          <svg class="reviews-icon" width="28" height="28">
            <use href="/img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="custom-next review-swiper-button-next">
          <svg class="reviews-icon" width="28" height="28">
            <use href="/img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
