<div id="work-together-id" class="footer">
  <div class="footer-container container">
    <div class="footer-head">
      <picture class="footer-head-pic" style="text-align: center">
        <source
          media="(max-width: 767px )"
          srcset="
            /img/work-together/logo-user-44x44@2x-avif.avif,/img/work-together/logo-user-44x44@1x-avif.avif
          "
          type="image/avif"
        />
        <source
          media="(max-width: 767px )"
          srcset="
            /img/work-together/logo-user-44x44@2x-webp.webp,/img/work-together/logo-user-44x44@1x-webp.webp
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px )"
          srcset="
            /img/work-together/logo-user-44x44@2x-png.png,/img/work-together/logo-user-44x44@1x-png.png
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px )"
          srcset="
            /img/work-together/logo-user-70x70@2x-avif.avif,/img/work-together/logo-user-70x70@1x-avif.avif
          "
          type="image/avif"
        />
        <source
          media="(min-width: 768px )"
          srcset="
            /img/work-together/logo-user-70x70@2x-webp.webp,/img/work-together/logo-user-70x70@1x-webp.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px )"
          srcset="
            /img/work-together/logo-user-70x70@2x-png.png,/img/work-together/logo-user-70x70@1x-png.png
          "
          type="image/png"
        />

        <img
          class="footer-head-img"
          src="/img/work-together/logo-user-44x44@1x.png"
          alt="young man working with laptop in office"
          width="44"
          height="44"
          loading="lazy"
        />
      </picture>
      <h2 class="footer-head-title">
        <span class="footer-lets">Let&#8217;s</span>
        <span class="current">work</span>
        <span class="footer-together">together</span>
      </h2>
    </div>
    <form class="footer-form" name="form-footer">
      <div class="footer-input-wrapper">
        <input
          class="footer-input"
          type="email"
          id="email"
          placeholder="clients@gmail.com"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          required
        />
        <p class="validation-message" id="email-validation"></p>
      </div>
      <div class="footer-comment-wrapper">
        <textarea
          class="footer-comment"
          name="comment"
          id="comment"
          cols="18"
          rows="1"
          placeholder="comments"
        ></textarea>
      </div>
      <button class="form-btn" type="submit" data-modal-open="Send">
        Send
      </button>
    </form>
    <address class="footer-adress">
      <ul class="adress-list">
        <li class="adress-list-item">
          <a class="footer-adress-link" href="mailto:lloydjefferson@gmail.com">
            lloydjefferson@gmail.com</a
          >
        </li>
        <li class="adress-list-item">
          <a class="footer-adress-link" href="tel:+3801111111111">
            +380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</div>
