.about-me {
  padding-top: 32px;
  padding-bottom: 32px;
}

.about-me-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  gap: 16px;
}

.about-me-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.about-me-description {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  border-radius: 24px;
  width: 100%;
  height: 500px;
  background-color: #242527;
  padding: 32px;
}

.about-me-span-red {
  color: #ed3b44;
}

.about-me-span-grey {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-photo {
  border-radius: 24px;
  width: 100%;
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}

.details-item {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-bottom: 32px;
}

.details-subtitle {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.details-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 0px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  fill: none;
  stroke: #fafafa;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.details-btn:hover {
  border-color: rgba(250, 250, 250, 0.4);
}

.icon-arrow {
  width: 18px;
  height: 18px;
}

.details-btn .icon-arrow {
  transition: transform 0.3s ease;
}

.details-item.active .details-btn .icon-arrow {
  transform: rotate(180deg);
}

.details-item.active .details-content {
  max-height: none;
}

.details-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.details-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.details-description {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.details-role-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-education-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-container.swiper {
  width: 260px;
  margin-left: 0;
}

.swiper-slide.skills-item {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  cursor: grab;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-slide.skills-item:hover {
  background-color: #ed3b44;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5),
    inset 0 5px 10px rgba(255, 0, 0, 0.2), inset 0 3px 3px rgba(255, 0, 0, 0.2);
}

.skills-button-next {
  fill: none;
  stroke: #3b3b3b;
  cursor: pointer;
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease, stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.skills-button-next:hover {
  stroke: #7d7c7c;
  transform: scale(1.5);
}

@media screen and (min-width: 768px) {
  .about-me {
    padding-bottom: 48px;
  }

  .about-me-main {
    margin-bottom: 64px;
  }

  .about-me-description {
    font-size: 38px;
    line-height: 1.05;
    width: 100%;
    height: 700px;
    background-color: #242527;
    padding: 64px;
  }

  .details-list {
    gap: 32px;
    margin-bottom: 64px;
  }

  .details-btn {
    width: 40px;
    height: 40px;
  }

  .icon-arrow {
    width: 20px;
    height: 20px;
  }

  .details-container {
    margin-bottom: 8px;
  }

  .details-content {
    gap: 16px;
  }

  .swiper-slide.skills-item {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  .skills-container.swiper {
    width: 600px;
  }

  .swiper-slide.skills-item {
    font-size: 20px;
    width: 200px;
    height: 200px;
  }

  .skills-button-next {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    padding-top: 48px;
    padding-bottom: 82px;
  }

  .about-me-main {
    flex-direction: row;
    margin-bottom: 96px;
  }

  .about-me-photo {
    height: 700px;
  }

  .about-me-description {
    max-width: 680px;
  }

  .details-list {
    margin-bottom: 96px;
  }

  .details-content {
    gap: 32px;
    padding-left: 696px;
  }

  .details-description {
    width: 612px;
  }

  .details-education-list .details-description {
    width: 465px;
  }

  .details-education-list :first-child {
    width: 369px;
  }

  .skills-container.swiper {
    width: 1200px;
  }

  .skills {
    margin: 0 32px;
  }
}
