.section-benefits {
  padding-top: 32px;
  padding-bottom: 32px;
}

.h2-benefits {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.benefits-ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.benefits-li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 64px;
  border-radius: 20px;
  padding: 24px;
  background-color: #242527;
  transition: transform 0.3s ease, box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-li:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5),
    inset 0 5px 10px rgba(255, 0, 0, 0.2), inset 0 3px 3px rgba(255, 0, 0, 0.2);
}

.benefits-li-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.h3-benefits {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.p-benefits {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.icon-container-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background-color: #ed3b44;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform-origin: center;
}

.icon-benefits {
  fill: none;
  stroke: var(--white);
}

.icon-container-benefits:hover {
  transform: scale(1.2);
  background-color: #e0373f;
}

.project-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 187px;
  height: 55px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-btn:hover {
  background-color: #e0373f;
}

.my-button-benefits {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

@media (min-width: 768px) {
  .section-benefits {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .benefits-ul {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }

  .benefits-li {
    width: calc((100% - 16px) / 2);
  }
}

@media (min-width: 1440px) {
  .section-benefits {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .container-benefits {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }

  .benefits-content {
    width: 680px;
  }
}
