body {
  background: #1c1d20;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cover-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cover-section {
  backdrop-filter: blur(30px);
  background: #1c1d20;
  background-position: center;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  cursor: pointer;

  background-image: url('../img/el_vectors-1x.png');
  transition: background-color 0.3s ease, transform 0.3s ease;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .cover-section {
    background-image: url('../img/el_vectors-2x.png');
  }
}

.cover-container {
  width: 100%;
  min-height: 508px;
  padding: 0;
  position: relative;
}
.covers-wrapp {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
}
.cover-list {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;
  transform: rotate(17deg);
}

.cover-list li {
  flex-shrink: 0;
  margin-right: 30px;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  animation: marqueeLine 10s linear infinite;
}

img.cover-img {
  width: 282px;
  min-height: 162px;
  display: block;
  object-fit: cover;
}

@keyframes marqueeLine {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .cover-container {
    width: 768px;
    height: auto;
  }

  .cover-list li {
    animation: marqueeLine 10s linear infinite;
  }

  img.cover-img {
    width: 544px;
    min-height: 314px;
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .cover-container {
    width: 1429px;
    min-height: 968px;
  }

  .cover-list li {
    animation: marqueeLine 20s linear infinite;
  }

  img.cover-img {
    max-width: 544px;
    height: auto;
  }
}
