body {
  background: #1c1d20;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cover-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cover-section {
  backdrop-filter: blur(30px);
  background: #1c1d20;
  background-position: center;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  cursor: pointer;
  background-image: url('/img/el_vectors-1x.png');
  transition: background-color 0.3s ease, transform 0.3s ease;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .cover-section {
    background-image: url('/img/el_vectors-2x.png');
  }
}

.cover-container {
  max-width: 375px;
  height: 508px;
  padding: 0;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.covers-wrapp {
  position: absolute;
  right: -800px;
  left: 0;
}
.cover-list {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  transform: rotate(17deg);
}

.cover-list li {
  flex-shrink: 0;
  margin-right: 30px;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

img.cover-img {
  width: 282px;
  height: 162px;
  display: block;
  object-fit: cover;
}

.cover-section.scrolling {
  transform: scale(1.02);
}
.cover-section.scrolling .cover-list li {
  animation: marqueeLine 10s linear infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-150%);
  }
}
.cover-list-none {
  display: none;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .cover-container {
    max-width: 768px;
    height: 960px;
    overflow: hidden;
  }

  .cover-list {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  img.cover-img {
    width: 544px;
    height: 314px;
    object-fit: cover;
    display: block;
  }
}
.cover-list-none {
  display: none;
}
/* Desktop */
@media screen and (min-width: 1440px) {
  .cover-container {
    max-width: 1440px;
    height: 960px;
    overflow: hidden;
  }
  .cover-list-none {
    display: flex;
  }
}
