.cover-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.cover-general-wrap.container {
  overflow: hidden;
  padding: 0;
}

.cover-container {
  position: relative;
  height: 508px;
  overflow: hidden;
  background-image: url(/img/covers/background-cover-mob-min.png);
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .cover-container {
    background-image: url(/img/covers/background-cover-mob@2x-min.png);
  }
}

.cover-list {
  margin-top: 156px;
  display: block;
  position: absolute;
}

.cover-item:nth-child(1) {
  display: none;
}

.cover-item {
  display: flex;
  transform: rotate(17deg);
  margin-bottom: 28px;
}

.cover-picture {
  flex-shrink: 0;
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  width: calc(100% / 6);
  white-space: nowrap;
  animation-name: none;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cover-picture.animate-marquee {
  animation-name: marqueeLine;
}

.cover-img {
  display: block;
  width: 282px;
  height: 162px;
  object-fit: cover;
  transform-origin: center;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(-300%);
  }
}

@media screen and (min-width: 768px) {
  .cover-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .cover-container {
    height: 960px;
    background-image: url(/img/covers/background-cover-tab-min.png);
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .cover-container {
      background-image: url(/img/covers/background-cover-tab@2x-min.png);
    }
  }

  .cover-list {
    margin-top: 286px;
  }

  .cover-item {
    margin-bottom: 52px;
  }

  .cover-picture {
    margin-right: 18px;
  }

  .cover-img {
    width: 544px;
    height: 314px;
  }
}

@media screen and (min-width: 1440px) {
  .cover-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .cover-container {
    background-image: url(../img/covers/background-cover-desk-min.png);
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .cover-container {
      background-image: url(../img/covers/background-cover-desk@2x-min.png);
    }
  }

  .cover-item:nth-child(1) {
    display: flex;
  }

  .cover-list {
    margin-top: -120px;
  }
}
