@import 'modern-normalize/modern-normalize.css';
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./modal-window.css');

body {
  font-family: 'Inter Tight', sans-serif;
  color: #fafafa;
  background-color: #1c1d20;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
